.formlog i {
    position: relative;
    left: 60%;
    bottom: 50px;
    color: #ccc;
    cursor: pointer;
    font-size: 20px;
}

.formlog i .active::before {
    color: #333;
    content: "";
}

.formreg i {
    position: relative;
    left: 70%;
    bottom: 55px;
    color: #ccc;
    cursor: pointer;
    font-size: 20px;
}

.formreg i .active::before {
    color: #333;
    content: "";
}